<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108356189270-m3o2cnc447jnks5t9dcqhvv0viun7a30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108356189270-m3o2cnc447jnks5t9dcqhvv0viun7a30</string>
	<key>API_KEY</key>
	<string>AIzaSyB3VZziCj_BRKJV54MOSkGRAVhPe1pOOVk</string>
	<key>GCM_SENDER_ID</key>
	<string>108356189270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>proiect.aplicatie</string>
	<key>PROJECT_ID</key>
	<string>aplicatie-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>aplicatie-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108356189270:ios:330616bca0e92e08c5cff7</string>
</dict>
</plist>